.criacao {
  
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
 max-width: 800px;
 align-items: center;
 justify-content: center;  
 text-align: justify;         
}

.criacao h2 {
    font-size: 48px;         
    font-weight: 700;
    color: #4a4a4a;         
    margin-bottom: 40px;
}

.criacao p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .criacao h2 {
        font-size: 32px;
    }

    .criacao p {
        font-size: 16px;
    }
}
