/*  HOTEL POUSADAS  */
.hotel-pousadas{
  background-color: #F2EFDE;
  width: 100%;
  height: 100vh;
  display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
 
img{
    width: 700px;
    height: auto;
   position: relative;
   top: 60px;
   right: 90px;
}


}