
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.container img{
    max-width: 180%;
    height: 50;
    margin: 100px;
}

.text{
  max-width: 150%;
    height: 50;
    margin: 220px;
}