/*  HOTEL POUSADAS  */
.hotel-pousadas {
  background-color: var(--fundo-branco);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.imgone {
  width: 700px;
  position: relative;
  bottom: 20px;

}

.imgtwo {
  width: 500px;
  position: relative;
  right: 300px;
  top: 20px;
}