/*  SOCIAL MIDIA  */
.socialmidia{
  background-color: var(--azul-claro);
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around; 
  align-items: center; 



}

.socialmidia h2 {
  font-size: 30px;
position: relative;
left: 200px;
color: var(--fundo-claro);
}

 .social-circulo {
  position: absolute;
  background-color: var(--fundo-claro);
  width: 750px;
  height: 650px;
  border-radius: 50%;
  left: -400px;
  top: 50%;
  transform: translateY(-50%);

}
