/*  RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/*  GERAL */
body {
  background: var(--fundo-branco);
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;

}

/*  CAPA */
.capa {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100vh;
  position: relative;
  margin-bottom:5px;
}

.capa h1 {
  font-size: 180px;
  font-weight: 800;
  color: var(--vermelho);
}

.namePosition{
 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
 

  
}
.capa .nome {
  font-size: 28px;
  color: var(--azul-claro);
  font-weight: bold;
   position: absolute;
  top: 223px;
  left: 78%;
  
}

.capa .data {
  position: absolute;
  top: 60px;
  right: 110px;
  color: #333;
  font-size: 17px;
  letter-spacing: 1px;
}

.capa .cargo {
  position: absolute;
  bottom: 60px;
  left: 66px;
  margin-top: 80px;
  font-size: 17px;
  color: #23384E;
}

/* SOBRE MIM */
.sobre {
  width: 100%;
  height: 100vh;
  display: flex;
  
 align-items: center;
  justify-content: center;
  background: var(--azul-claro);
  padding: 60px 40px;
  gap: 40px;
  flex-wrap: wrap;
  
}

/* .sobre .foto {
  width: 420px;
  height: 620px;
  background: #ddd;
  border-radius: 50%;

} */

/*
Para colocar a foto depois, basta alterar assim:

.sobre .foto {
    background-image: url("minha-foto.png");
}
*/

.sobre .texto {
  max-width: 500px;
  color: white;
}

.sobre h2 {
  font-size: 32px;
  margin-bottom: 20px;
}



/* RESPONSIVIDADE  */
@media (max-width: 768px) {

  .capa h1 {
    font-size: 48px;
  }

  .criacao h2 {
    font-size: 34px;
  }

} 
