/* CORES DO PDF  */
:root {
    --vermelho: #F22F0C;
    --azul-claro: #A9C4E9;
    --cinza-escuro: #555;
    --cinza-texto: #666;
    --fundo-claro: #F5F5F5;
    --fundo-branco: #FFFFFF;
} 



/* Efeitos css */

.card {
    transition: 0.3s ease;
}

.card img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
